 altair

 attrs

 blinker

 cachetools

 certifi

 charset-normalizer

 click

 gitdb

 gitpython

 idna

 jinja2

 jsonschema

 jsonschema-specifications

 markdown-it-py

 markupsafe

 mdurl

 narwhals

 numpy

 opencv-python-headless

 packaging

 pandas

 pillow

 protobuf

 pyarrow

 pydeck

 pygments

 python-dateutil

 pytz

 referencing

 requests

 rich

 rpds-py

 six

 smmap

 streamlit

 tenacity

 tensorflow

 toml

 tornado

 tzdata

 urllib3

 watchdog
